/* Asyla_202432069 */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: #f5f5f5;
}

body {
    background: #f4f4f4;
}

header {
    background:#69a9c2;
    color: white;
    text-align: center;
    padding: 30px;
}

nav {
    margin-top: 10px;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 5px;
    padding: 8px 12px;
    background: #7db8cf;
    border-radius: 3px;
    border: 1px solid rgba(255,255,255,0.5);
    font-size: 13px;
}

nav a:hover {
    background:#5f9db7;
}

nav a.active {
    background: white;
  color:#69a9c2;
}

main {
    padding: 30px;
}

h2 {
    text-align: center;
    color: #0d0d0f;
}

.styled-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background: white;
}

.styled-table th,
.styled-table td {
    border: 1px solid #ccc;
    padding: 12px;
    text-align: center;
}

.styled-table th {
    background:#69a9c2;
    color: white;
}

.styled-table tr:nth-child(even) {
    background: #f2f2f2;
}